<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="batchInsert" value="true" />
        <option name="javaMapperPackage" value="com.kuka.dao" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.kuka.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="DoctorSynTools" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="DoctorSynTools">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.kuka.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.kuka.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="com.kuka.dao" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="dbo:huoweizl">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Huoweizl" />
                  <option name="moduleName" value="DoctorSynTools" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="dbo:hwsp">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Hwsp" />
                  <option name="moduleName" value="DoctorSynTools" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="dbo:inventory_config">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="InventoryConfig" />
                  <option name="moduleName" value="DoctorSynTools" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="dbo:sphwph">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Sphwph" />
                  <option name="moduleName" value="DoctorSynTools" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="dbo:spkfjc">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Spkfjc" />
                  <option name="moduleName" value="DoctorSynTools" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="dbo:spkfk">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Spkfk" />
                  <option name="moduleName" value="DoctorSynTools" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="dbo:supplier_jixing">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SupplierJixing" />
                  <option name="moduleName" value="DoctorSynTools" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="dbo:supplier_stock">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="SupplierStock" />
                  <option name="moduleName" value="DoctorSynTools" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="dbo:supplier_stock_item">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="SupplierStockItem" />
                  <option name="moduleName" value="DoctorSynTools" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="com.kuka.dao" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>